# Java / Maven
**/target/
.mvn/wrapper/maven-wrapper.jar

# Node
frontend/node_modules/

# Docker volumes
pgdata/

# IDE / OS
.idea/
.DS_Store
.vscode/

# Ignore all SQL files
*.sql
# Except Flyway migration files
!services/reservation-service/src/main/resources/db/migration/*.sql

